{% extends 'base.html' %}
{% load static %}
{% block title %}Update Status{% endblock %}
{% block content %}
<body>
    <div class="container-fluid text-center">
        <h1 style="margin-top:25px">Hello, apa kabar?</h1>
        <p class="section-title">UPDATE STATUS</p>
        <section name="form">
            <form method="POST" action="{% url 'lab_6:add_status' %}">
                {% csrf_token %}
                {{status_form}}
                <br/>
                <button type="submit" class="btn btn-default" id="submit-button">Submit</button>
            </form>
        </section>
    </div>

    <div class="container-fluid text-center">
        <p class="section-title">LIHAT STATUS</p>
        {% for i in status_list %}
            <p>Waktu : {{ i.date }}</p>
            <p>Status : {{ i.content }}</p>
        {% endfor %}
    </div>
</body>
{% endblock %}