{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'lab_9/styles.css' %}">
  <script src="{% static 'lab_9/story9.js' %}"> </script>  
</head>

<body>
<div class="container">
    <div class="panel text-center">
        <div>
            <img src="/static/lab_9/star-cute.svg" class="big-star">
            <span id="favorite-count">0</span>
            <img src="/static/lab_9/star-cute.svg" class="big-star">
        </div>
    </div>
    <div class="panel p-5">
        <h1 class="text-center">KOLEKSI BUKU</h1>
        <table class="table table-light table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Cover</th>
                <th scope="col">Judul</th>
                <th scope="col">Penulis</th>
                <th scope="col">Penerbit</th>
                <th scope="col">Favorit</th>
            </tr>
            </thead>
            <tbody id="content">
            </tbody>
        </table>
    </div>
</div>
</body>
