{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'lab_8/styles.css' %}">
  <script src="{% static 'lab_8/story8.js' %}"> </script>  
</head>

<body onload="move()">

  <div id="progress" class="col-md-12">
    <div id="bar"></div>
  </div>

  <div id="content" class="col-md-12 hidden">
    <h3> Nama : Muhammad Ridho Ananda </h3>
    <button class="font-black" onclick="changeTheme()"> Change Theme </button>
    <div class="panel-title font-black mar-top-50">
      <div class="panel panel-default">
        <div onclick="accordion('1')" class="panel-heading">
          Aktivitas
        </div>
        <div id="panel-1" class="panel-body hidden">
          - Belajar <br>
          - Bernafas <br>
        </div>
        <div onclick="accordion('2')" class="panel-heading">
          Organisasi/Kepanitiaan
        </div>
        <div id="panel-2" class="panel-body hidden">
          - FUKI Fasilkom UI <br>
          - RISTEK Fasilkom UI <br>
          - COMPFEST X <br>
        </div>
        <div onclick="accordion('3')" class="panel-heading">
          Prestasi
        </div>
        <div id="panel-3" class="panel-body hidden">
          - Lomba Pemrograman Gemastik 10 <br>
          - Senior Competitive Programming Contest COMPFEST 9 <br>
          - Junior Competitive Programming Contest COMPFEST 8 <br>
        </div>
      </div>
    </div>
  </div>
</body>
