{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'lab_10/styles.css' %}">
  <script src="{% static 'lab_10/story10.js' %}"> </script>  
</head>

<body>
<div class="container">
    <div class="row text-center">
        <h1 class="mar-top-50"> SUBSCRIBE NOW </h1>
        <form novalidate id="subscribe-form" class="mar-top-50">
            {% csrf_token %}
            {% for i in form %}
                <h4>{{i.label_tag}} {{i}}</h4>
            {% endfor %}
            <button class="btn btn-primary disabled" id="submit-subscribe">
                Submit
            </button>
        </form>
    </div>
</div>

<div class="modal fade" id="subscribed-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="subscribed-modal-title">Subscribe Berhasil</h5>
      </div>
      <div class="modal-body">
            Anda telah berhasil berlangganan
      </div>
      <div class="modal-footer">
        <a role="button" href="/lab_10/" class="btn secondary">
            Kembali ke profil
        </a>
      </div>
    </div>
  </div>
</div>

</body>

</html>