.padding-bottom-500{
    padding-bottom : 500px;
}

.font-black{
  color: black!important;
}

.img-responsive{
  width: 100%;
  max-width: 300px;
  height: auto;
}

.bg-black{
  display:inline-block;
  width: 100%!important;
  margin: 0px!important;
  background-color: black!important;
  color : white!important;
}

.ml-3{
  margin-left: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size : 15pt;
}

.Nav-li {
    float: right;
}

.Nav-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
}

.Nav-li a:hover:not(.active) {
    background-color: #009BC6;
}

.active {
    background-color: white;
}

.nav-kiri {
	float: left;
	padding : 14px;
}

.fontsize48{
	font-size: 	48px;
}

.middle{
  text-align: center;
  color: white!important;
  margin-top:200px;
  left: 50%;
}

a { color: inherit; }

.mar-top-200{
	margin-top : 100px;
}

.mar-top-50 {
	margin-top : 50px;
}

.height-gede

.magerbet{
	margin-top: 200px!important;
}

.mar-top3{
  margin-top:300px;
}

.img{
 	max-height : 300px;
 	max-width : 300px;
 	margin-left : 100px;
}

.img-no-mar {
	max-height : 300px;
	max-width : 300px;
}

.mar-left-100 {
	margin-left : 100px;
}

.mar-top-kecil{
	margin-top : 100px;
}

.font-size24{
	font-size : 24px;
}

.font-size32{
	font-size : 32px;
}

.font-size28 {
	font-size : 28px;
}

.mar-left-kecil {
	margin-left : 50px;
}

.mar-bot-kecil {
	margin-bottom : 50px;
}

.full-height{
    background-color: aqua;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}

.red-color {
  color : red;
}
