.font-black {
    color: black;
}

.mar-top-50 {
    margin-top: 50px;
}

body {
    background-color: white;
    color: black;
}

#progress {
    margin-top: 100px;
    align-content: center;
    width: 100%;
}
#bar {
    width: 1%;
    height: 30px;
    background-color: green;
}