{% extends "lab_11/base.html" %}
{% load static %}

{% block title %}Story 11{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{% static 'lab_9/styles.css' %}">
	<script src="{% static 'lab_9/story9.js' %}"> </script>  
{% endblock %}

{% block content %}
	{% if user.is_authenticated %}
        <p class="display-4">Hello, {{ user.first_name }} {{ user.last_name}}</p>
		<a class="lead" href="{% url 'logout' %}">Log out</a>
		<div class="panel text-center">
			<div>
				<img src="/static/lab_9/star-cute.svg" class="big-star">
				<span id="favorite-count">0</span>
				<img src="/static/lab_9/star-cute.svg" class="big-star">
			</div>
		</div>
		<div class="panel p-5">
			<h1 class="text-center">KOLEKSI BUKU</h1>
			<table class="table table-light table-striped">
				<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Cover</th>
					<th scope="col">Judul</th>
					<th scope="col">Penulis</th>
					<th scope="col">Penerbit</th>
					<th scope="col">Favorit</th>
				</tr>
				</thead>
				<tbody id="content">
				</tbody>
			</table>
		</div>

	{% else %}
		<a class="lead" href="{% url 'login' %}">Log in</a>
	{% endif %}
{% endblock content %}